@charset "utf-8"

// 그리드 폰트 크기
.ag-theme-alpine
  --ag-font-size: 15px

// 그리드 헤더 컬럼명 가운데 정렬
.ag-header-cell-label
  justify-content: center
  font-size: 14px

// 그리드 셀 포커스 시 border 선 숨기기
.ag-cell-focus
  border-color: transparent !important

// 행 클릭 시 배경 색
.row-clicked
  background-color: #EAECEE

// 그리드 헤더 버튼
.grid-header
  background-color: #f8f8f8
  border: 1px solid #babfc7
  border-bottom: none
  padding-left: 10px
  padding-right: 10px
  display: grid
  align-items: center
  height: 3.2rem

  .grid-header-buttons
    display: flex
    justify-content: space-between

    .grid-header-button-left
      display: flex
      justify-content: flex-start

    .grid-header-button-right
      display: flex
      justify-content: flex-end
