@charset "utf-8"
// Import Bulma first
@import '~bulma/bulma.sass'
// Bulma Extensions bulma-tooltip
@import '~@creativebulma/bulma-tooltip'
// Bulma Extensions bulma-divider
@import '~@creativebulma/bulma-divider'

// tooltip
[data-tooltip]:not(.is-loading)::before, [data-tooltip]:not(.is-disabled)::before, [data-tooltip]:not([disabled])::before
  padding: .3rem

// label required 뒤에 * 표시
.label.required:after
  content: " *"
  color: darkorange

.detail-label
  @extend .label

  &.required:before
    content: "* "
    color: darkorange

  &.required:after
    content: none

// 모바일 화면일때는 한줄로 표시
@media screen and (max-width: 769px)
  .detail-label
    &.required:after
      content: " *"
      color: darkorange

    &.required:before
      content: none

// footer
.footer
  margin-top: 1em
  padding: 2rem 1rem 2rem

// 로그인 폼
.login-form
  @extend .box
  display: flex
  flex-direction: column
  justify-content: center
  margin: 0 auto
  height: 320px
  width: 400px

// 내정보
.profile-username:before
  content: "@"

.profile-username
  color: cornflowerblue

.profile-auth-level
  font-size: 1.75rem
  margin-left: 0.3em

.profile-hr
  margin-top: 1em
  margin-bottom: 0.5em

.profile-info
  font-size: 1rem
  color: gray
  width: 100%
  margin-top: 0.35em

.container
  width: 100%
  height: 100%
  display: flex
  flex-direction: inherit

.tabs
  height: 40px
  border-left: 1px solid #babfc7
  border-right: 1px solid #babfc7

  > ul
    border-bottom: 0

    > li
      border-right: 0.5px solid #babfc7

      > a
        background-color: #F9F9F9
        font-weight: normal

    > li:first-child
      border-left: 0

    > li:last-child
      border-right: 0

.tabs.is-boxed li.is-active a
  border: 0
  font-weight: bold

  &:before
    font-family: "Font Awesome 5 Free", serif
    content: '\f3c5'
    padding-right: 5px
    font-size: 12px

.dropdown
  width: 100%

  .dropdown-trigger
    width: 100%

  .dropdown-menu
    padding-top: 0 !important
    width: 100%

  .dropdown-content
    padding: 0
    max-height: 182.5px
    overflow: scroll

  .dropdown-item
    font-size: 12px
    padding: 0.5em 0.5em 0.5em 0.5em
    border-left: 0.2px solid hsl(0deg, 0%, 86%)
    border-right: 0.2px solid hsl(0deg, 0%, 86%)
    border-bottom: 0.2px solid hsl(0deg, 0%, 86%)
    color: gray
    max-height: 40px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

    &.selected
      background-color: #EFF2F7

      &:before
        font-family: "Font Awesome 5 Free", serif
        content: '\f058'
        padding-right: 5px

    &.focused
      background-color: #E1E1E1

  .dropdown-item:first-child
    border-top-right-radius: 3px
    border-top-left-radius: 3px

  .dropdown-item:last-child
    border-bottom-right-radius: 3px
    border-bottom-left-radius: 3px

.labels
  @extend .input
  align-content: flex-start
  display: flex
  flex-wrap: wrap
  padding: 0

  > span
    margin-right: 5px

  .labels-input
    @extend .input
    padding: 0 !important
    border-color: transparent
    box-shadow: none !important
    display: inline-block
    flex: 1 0 auto
    height: 100%
    width: 0

  .labels-input:hover
    border-color: transparent !important

  .labels-input:focus
    border-color: transparent !important

  .label-icon
    color: hsl(0, 0%, 29%) !important

.delete-label
  @extend .delete

.modal-card
  overflow: visible

  .modal-card-body
    overflow: visible
    border-bottom-right-radius: 6px
    border-bottom-left-radius: 6px

.profile-label-list
  > span:first-child
    padding-left: 0

  > span
    padding-left: 4px